a {
  text-decoration: none;
  color: var(--clr-main-400);
  font-size: 1.2rem;
}
a:hover {
  color: var(--clr-main-100);
}
.nav-child {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-bottom: 2rem;
}

.login {
  min-width: min(600px, 80%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .form {
  width: 100%;
  border-radius: var(--br);
  padding-inline: 1rem;
  padding-block: 2rem;
}

.form > * {
  margin-bottom: 1rem;
  margin-inline: auto;
}
.form input {
  background: none;
  border: 1px solid var(--clr-main-400) !important;
  outline: none;
  color: var(--clr-main-100);
  border-radius: var(--br);
}
.form input:focus {
  background: var(--clr-main-900);
  border: 1px solid var(--clr-main-400);
  color: var(--clr-main-100);
  outline: none !important;
  box-shadow: none;
}
.form input::placeholder {
  color: var(--clr-main-900);
}

select {
  background: none;
  border-radius: var(--br);
  border-color: var(--clr-main-400);
  color: var(--clr-main-400);
}
select:focus {
  background: var(--clr-main-900);
  border: 1px solid var(--clr-main-400);
  color: var(--clr-main-100);
  outline: none !important;
  box-shadow: none;
}
