<div class="container-fluid">
  <div class="row">
    <div
      *ngIf="sideBarStatus"
      style="height: 85vh; width: fit-content; margin-top: 2rem"
      class="col-lg-2 p-3 nav-child brdr"
    >
      <a class="font-600" routerLink="/dashboard">Home</a>
      <a class="font-600" routerLink="/users">Users</a>
      <a (click)="logout()" style="margin-top: auto" class="font-600">Logout</a>
    </div>
    <div style="width: 90%" class="col-lg-10">
      <div class="row p-3">
        <div class="col-lg-8">
          <div
            style="
              height: 180px;
              background-image: url(https://media.istockphoto.com/id/1066248468/photo/abstract-blurred-interior-of-corridor-clinic-background-in-blue-color-blurry-image-for.webp?b=1&s=170667a&w=0&k=20&c=eQoQRZB_0B_R3qch0DGX2bgYjGl2HWmkCdq6SAj1RuA=);
              background-size: cover;
            "
            class="banner p-3 rounded"
          >
            <h1 (click)="toggleSideBar()" class="fw-bolder">
              <i style="cursor: pointer" class="fa-solid fa-bars me-3"></i>
              Welcome {{ adminName }}
            </h1>
          </div>
          <div class="row ms-1 mt-4">
            <div class="col-lg-5 border rounded shadow">
              <!-- calendar -->
              <app-calendar></app-calendar>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-6 border rounded shadow">
              <!-- chart -->
              <app-chart></app-chart>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div
            style="height: 600px"
            class="edit-admin border rounded shadow p-2"
          >
            <app-update-admin
              (updateAdminEvent)="updateAdminEvent($event)"
            ></app-update-admin>
          </div>
          <div
            style="
              height: 180px;
              background-image: url(https://media.istockphoto.com/id/1066248468/photo/abstract-blurred-interior-of-corridor-clinic-background-in-blue-color-blurry-image-for.webp?b=1&s=170667a&w=0&k=20&c=eQoQRZB_0B_R3qch0DGX2bgYjGl2HWmkCdq6SAj1RuA=);
              background-size: cover;
            "
            class="banner p-3 rounded mt-3"
          >
            <h3 class="fw-bolder">
              <i class="fa-solid fa-users me-3"></i> Employees: {{ userCount }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
